.logo {
		width: 100%;
		height: 400rpx;
		background-color: #007AFF;
		overflow: hidden;
		/* border-bottom: 1px solid #E6E6C9; */
	}

	.logo image {
		display: block;
		width: 150rpx;
		height: 150rpx;
		margin: 200rpx auto 0;
		border-radius: 50%;

	}

	.login_form {
		margin-top: 100rpx;
	}

	.login_form input {
		height: 40px;
		line-height: 80rpx;
		padding: 10px 30rpx;
		border-bottom: 1px solid #E6E6C9;

	}

	.btn {
		width: 90vw;
		margin-top: 40rpx;
		background-color: #55b9f3;
	}

	.oauth_wrapper {
		margin: 100px;
		height: 300rpx;
		/* background-color: #09BB07; */
	}

	.oauth_title {
		text-align: center;
		font-size: 16px;
		color: #ccc;
	}

	.oauth_img {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.oauth_img image {
		display: block;
		width: 40px;
		height: 40px;
		padding: 20px;
	}
	.regsister{
		margin-top: 30rpx;
		text-align: end;
		font-size: 15px;
		color: #0A98D5;
		
	}